/* Fonts */

@font-face {
    font-family: 'font';
    src: url('/fonts/Gyrotrope-ExtraBold.otf') format('opentype');
}

html {
    font-family: 'font';
}

/* 'Author' section */

/* Thumbnails */


.thumbnail_card {
  min-width: 250px;
  height: 150px;
}

.thumbnail_card_related {
  height: 75px;
}

.thumbnail {
  width: 150px;
  min-height: 90px;
}

@media (width < 853px) {
  .thumbnail {
    width: 100%;
  }
}

/*@variant max-md {
  .thumbnail {
    width: 75%;
  }
}*/
